{% extends "base.html" %}
{% block title %}Mysite | Welcome to Admin page{% endblock %}
{% block extra_css %}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }
    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
    }
</style>
{% endblock %}
{% block content %}
<header>
    <h1>Admin</h1>
</header>
<div class="container">
    <article>
        <h2>This is the Admin's Page</h2>
        <p>Users with the Admin role are welcome here.</p>
    </article>
</div>
{% endblock %}
